.profile__avatar-button {
  cursor: pointer;
  opacity: 80%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
  padding: 0;
  background-color: #000;
  transition: opacity 0.1s ease;
}

.profile__avatar-button:hover {
  background-color: rgba(0, 0, 0, 20%);
  background-image: url(../../../images/changeAvatarPencil.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 550px) {
  .profile__avatar-button {
    margin-right: 0;
  }
}
