.popup__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  margin-bottom: 5px;
  align-self: center;
  padding-bottom: 7px;
}
.popup__input:focus {
  outline-color: #034dfc;
}

@media (max-width: 550px){
  .popup__input  {
    width: 238px;
  }
}
