.header {
  border-bottom: 1px solid #545454;
  margin: 45px auto 40px;
  min-height: 74px;
  max-width: 880px;
}

@media (max-width:980px) {
  .header {
    max-width: 90%;
  }
}

@media (max-width:320px) {
  .header {
    min-height: 56px;
    margin-top: 28px;
    margin-bottom: 42px;
    max-width: 100%;
  }
}
