.element__like-button {
  background-image: url(../../../images/element_like_button.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  transition: 0.1s ease;
  cursor: pointer;
  text-align: center;
  object-fit: cover;
  object-position: center;
}

.element__like-button:hover {
  opacity: 50%;
}
